# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Mac
.DS_Store

# DBs and backups (local only)
data/
backups/
*.db
*.db-*
*.sqlite
*.sqlite-*
*.pid

# Artifacts
dist/
old/
snapshots/
last_snapshot.html

# Vim/Swap/Temp
*.sw?
*.sw??
*.old

# macOS
.DS_Store
